<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/bootstrap-5.3.3/css/bootstrap.css">
        <script src="/bootstrap-5.3.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body class="container">
        <h1>Product Management</h1>
        <a class="btn btn-info" href="/products/new">New</a>
        <form action method="get">
            <div class="form-group d-flex col-5">
                <input name ="q" type="text" class="form-control">
                <button class="btn btn-info" type="submit">Search</button>
            </div>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">Description</th>
                    <th scope="col">price</th>
                    <th scope="col">stock</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(function(item){ %>
                <tr>
                    <th scope="row"><%= item.id %></th>
                    <td><%= item.name %></td>
                    <td><%= item.description %></td>
                    <td><%= item.price %></td>
                    <td><%= item.stock %></td>
                    
                    <td><a href="/products/delete/<%= item._id %>" class="btn btn-danger">Delete</a></td>
                    <td><a href="/products/edit/<%= item._id %>" class="btn btn-warning">Edit</a></td>
                </tr>
                <% }); %>

            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link"
                        href="#">Previous</a></li>
                <li class="page-item"><a class="page-link"
                        href="?page=1">1</a></li>
                <li class="page-item"><a class="page-link"
                        href="?page=2">2</a></li>
                <li class="page-item"><a class="page-link"
                        href="?page=3">3</a></li>
                <li class="page-item"><a class="page-link"
                        href="#">Next</a></li>
            </ul>
        </nav>
    </body>
</html>
